# OpenDMO — gateway DMO OpenGD77 <-> master HBP
# Rellenar host/passphrase/dmr_id y poner enabled '1'.
# Aplicar cambios: /etc/init.d/opendmo restart

config opendmo 'main'
	option enabled '0'
	option host ''
	option port '62031'
	option passphrase ''
	option dmr_id '0'
	option essid '1'
	option callsign 'NOCALL'
	option talkgroup '0'
	option slot '2'
	option color_code '1'
	option freq_mhz '439.025'
	option dynamic_tg '1'
	option tx_power '100'
	option options ''
	option device 'auto'
